{% extends "base.html" %}
{% block title %}ROSY - Orders of "{{product.title}}"{% endblock title %}

{% block body %}
<div class="container">
    <header>
        <div class='div'>
            <button>
                <a href="{% url 'management' %}"><span class="material-symbols-rounded">arrow_back_ios</span></a>
            </button>
            <h1>Orders of "{{product.title}}"</h1>
        </div>
    </header>
    <div>
        <div>
            {% for item in items %}
            <section>
                <a href=''>
                    <div>
                        <h1>@ {{item.user.username}} - ({{item.count}})</h1>
                        <p>{{item.date}}</p>
                    </div>
                </a>
            </section>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock body %}